
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}


img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
	font-family: 'Roboto Condensed', sans-serif;
}

body {
    
	
}

a:hover {
    text-decoration: none;
}


/* section */

.section-padding{
	padding:100px 0;
	position:relative;
}
.section-title{
	text-transform:uppercase;
	margin-bottom: 50px;
}
.single-product{
	text-align:center;
	margin-top:50px;
	position:relative;
	z-index:1;
	margin-bottom:50px;
}
.single-product:after{
	position:absolute;
	content:"";
	left:0;
	top:0%;
	width:100%;
	height:100%;
	background:url(../images/scale.jpg) no-repeat scroll center top #000;
	background-size:cover;
	z-index:-1;
	opacity:0;
	transition:.3s;
	
}
.single-product:hover:after{
	top:-10%;
	height:120%;
	opacity:1;
	
}
.image-wrap{
	background:#EDEBF1;
	width:100%;
	height:280px;
	display:table;
	padding:20px;
	text-align:center;
	margin-bottom:20px;
	transition:.3s;
}
.image-wrap img{
	width:100%;
	height:300px;
	
}

.single-product:hover .image-wrap{
	background:none;
	
}
.image-table-cell {
	display: table-cell;
	vertical-align: middle;
}
.price {
	font-size: 35px;
	color: red;
	
}
.single-box-hover{
	position:absolute;
	top:-18px;
	left:0;
	text-align:left;
	width:100%;
	color:#ddd;
	padding:0 20px;
	opacity:0;
	transition:.3s;
	visibility:hidden;
}

.single-product:hover .single-box-hover{
	opacity:1;
	visibility:visible;
	
}
.single-box-hover a{
	display: inline-block;
	color: #ddd;
	width: 50px;
	height: 50px;
	line-height:50px;
	text-align: center;
	font-size: 20px;
}
.border-link {
	
	border: 2px solid red;
}