/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
body{
	font-size: 14px;
}

a{color: #00AAF6}
.section-padding {
  padding: 80px 0;
}
.single-price-box {
  border: 2px solid #F5F7FB;
  text-align: center;
  padding: 30px;
  margin-bottom: 50px;
  position: relative;
  transition: 0.3s;
}
body {
  color: #6B7B8B;
  font-size: 16px;
}
p.pricing-amount {
  color: #00AAF6;
  font-size: 50px;
  margin: 0;
}
.pricing-box span {
  text-transform: capitalize;
  opacity: 0.7;
}
.pricing-content {
  margin-top: 50px;
  /*! padding: 15px 19px; */
  border-top: 2px solid #F5F8FB;
}
.pricing-content ul {
  margin: 0;
  padding: 29px;
  list-style: none;
}
.pricing-content li {
  padding-top: 21px;
  line-height: 21px;
}
.order-btn {
}
.order-btn {
  background: #00AAF7;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s;
}
.order-btn:hover {
  background: #2d2828;
  color: #fff;
}
.single-price-box h4 span {
  color: #64BB21;
  display: block;
  margin-top: 5px;
  font-size: 80%;
}
.single-price-box.active h4 {
  margin-top: -10px;
  margin-bottom: 5px;
}


.single-price-box.active:before {
  position: absolute;
  content: ;
  color: ;
  content: '';
  height: 2px;
  width: 100%;
  top: 0;
  ble: ;
  left: 0;
  background: #80BB21;
}
.single-price-box.active {
  border-radius: 0 0 5px 5px;
}
.single-price-box.active {
}
.single-price-box:hover {
  box-shadow: 0 0 10px #717171;
}
.col-md-4 {
}
