@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Ubuntu&display=swap');
/* 
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
 }
 body{
    font-family: 'Playfair Display', serif;

 }

 .container {
    width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
header {
    padding: 50px 0;
}
.logo {
    width: 20%;
    flex-basis: 20%;
}

nav {
    width: 80%;
    flex-basis: 80%;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    justify-content: flex-end;
}

nav ul li a {
    display: block;
    padding-left: 80px;
    text-transform: capitalize;
    color: #333;
    font-size: 20px;
}

a {
    text-decoration: none;
}
section.banner-section img {
    width: 100%;
}

img {
    max-width: 100%;
}

article h1 {
    font-size: 22px;
    color: #333;
    font-weight: 700;
    margin: 20px 0;
}

article span {
    font-size: 15px;
    color: #333;
    font-weight: 200;
    text-transform: uppercase;
}

article a {
    font-size: 15px;
    color: #333;
    font-weight: 200;
    text-transform: uppercase;
}

article p {
    font-size: 17px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.post {
    max-width: 50%;
    flex-basis: 50%;
}

.post img {
    width: 100%;
    margin-bottom: 30px;
}

article {
    padding: 70px 50px;
}

.footer-menu {max-width: 50%;flex-basis: 50%;}

footer {
    background: #e0e0e0;
    padding: 30px 0;
}

footer a, span, i {color: black;}

.footer-menu {}

.social-menu {
    max-width: 50%;
    flex-basis: 50%;
}

.footer-menu ul li a {
    display: block;
    padding-right: 40px;
    text-transform: capitalize;
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.social-menu ul {
    justify-content: flex-end;
}

.social-menu ul li a, .social-menu ul li span {
    display: block;
    padding-right: 40px;
    text-transform: capitalize;
    color: #333;
    font-size: 15px;
    font-weight: 600;
} 