/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
font-family: 'Roboto Condensed', sans-serif; 
}
a:hover { text-decoration: none }
body{
	font-size: 14px;
}


body {
  background: #F5F6FA;
}
.promo-box-wrap {
  margin-left: -15px;
  overflow: hidden;
}
.single-promo-box {
  height: 200px;
  width: 50%;
  float: left;
  display: table;
}
.single-promo-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.single-promo-box:nth-child(2) {
  background: #DA879B;
}
.single-promo-box:nth-child(3) {
  background: #7BBACF;
}



.book-btn, .boxed-btn {
  display: inline-block;
  background: black;
  color: #fff;
  padding: 10px 30px;
  border-radius: 23px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.single-promo-tablecell h2 {
  font-size: 28px;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px;
  /*! color: #fff; */
}
.single-promo-tablecell h2:after {
  position: absolute;
  content: ;
  content: '';
  height: 2px;
  width: 50px;
  background: red;
  margin-left: -25px;
  bottom: 0;
  left: 50%;
}

.promo-icon:before {
  font-size: 70px;
}

.single-promo-box {
  height: 331px;
}



.single-promo-box:nth-child(2) .promo-icon, .single-promo-box:nth-child(3) .promo-icon, .single-promo-box:nth-child(2) h2, .single-promo-box:nth-child(3) h2 {
  color: #fff;
}
.single-promo-box:nth-child(1) h2:after {
  background: #DA879B;
}
.single-promo-box:nth-child(2) h2::after {
  background: #fff;
}
h2 {
}
.single-promo-box:nth-child(1) .promo-icon {
  color: #DA879B;
}

single-promo-box:nth-child(3) h2:after {
  background: #fff;
}

.single-promo-box:nth-child(3) h2::after {
  background: #fff;
}
.single-promo-box:nth-child(4) h2::after {
  background: #7BBACF;
}
.single-promo-box:nth-child(4) .promo-icon {
  color: #7BBACF;
}


.book-btn {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.single-promo-tablecell {
  padding-top: 35px;
  transition: 0.3s;
}
.single-promo-box:hover .single-promo-tablecell {
  padding-top: 0;
}
.single-promo-box:hover .book-btn {
  opacity: 1;
  visibility: visible;
}


.section-title>h4 {
  color: #7BBACF;
  font-style: italic;
  text-transform: capitalize;
}
.section-title h2 {
  color: #5C6E8C;
  margin-bottom: 45px;
}

.right-side-content p {
  color: #8486A9;
  margin-top: 25px;
}
.boxed-btn-2 {
}
.boxed-btn-2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid;
  color: #7BBACF;
  border-radius: 23px;
  padding: 10px 30px;
}
.right-side-content {
  padding: 101px;
}

.right-side-btn {
  margin-top: 35px;
}